<!-- <div class="fw1 near-white code dib" id="clockdiv">
  <div class="pa1 br1 bg-dark-green dib">
    <span class="pa0 br1 bg-green dib days"></span>
    <div class="pt1 fw1">days</div>
  </div>
  <div class="pa1 br1 bg-dark-green dib">
    <span class="pa0 br1 bg-green dib hours"></span>
    <div class="pt1 fw1">hours</div>
  </div>
  <div class="pa1 br1 bg-dark-green dib">
    <span class="pa0 br1 bg-green dib minutes"></span>
    <div class="pt1 fw1">mins</div>
  </div>
  <div class="pa1 br1 bg-dark-green dib">
    <span class="pa0 br1 bg-green dib seconds"></span>
    <div class="pt1 fw1">secs</div>    
  </div>
</div>

<script src="/assets/js/clock.js" charset="utf-8"></script> -->
